
   <form method="GET" action="{% url 'news:search_result' %}">
     {% load style %}
     {% load emphasize %}
     {% newsvolume as total_news_volume %}
    <div class="input-group input-group-lg has-success has-feedback">

       <!--没有指定搜索狂，就自己写一个-->
       {% if search_form %}
           {{ search_form.search_word|addplaceholder:total_news_volume }}
       {% else %}
           <input type="text" id="id_search_word" class="form-control" name="search_word" placeholder="{{total_news_volume}}条新闻供您检索">
       {%endif%}
      <span class="glyphicon glyphicon-paperclip form-control-feedback" 
            style="right:69px;pointer-events:auto;cursor:pointer;top:6px;"
            id="search-option"
            data-toggle="modal" 
            data-target="#search-option-modal">
      </span>        

      <span class="input-group-btn">
        <button class="btn btn-success btn-lg" type="submit">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
      </span>
      
    </div><!-- /input-group -->

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="search-option-modal" tabindex="-1" role="dialog" aria-labelledby="search-option-title">
  s
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="search-option-title">搜索参数</h4>
      </div>
      <div class="modal-body">
              
              <div class="form-group">
                  {{ search_form.start_time.label_tag }} <br>
                  {# search_form.start_time  #}
                  <input class="form-control " id="id_start_time" name="start_time" type="date" value={{news_start_date|date:"Y-m-d"}}>
                  <p class="help-block">最早的新闻开始于：2015-10-01</p>
              </div>
              <div class="form-group">
                  {{ search_form.end_time.label_tag }} <br>
                  {# search_form.end_time  #}
                  <input class="form-control" id="id_end_time" name="end_time" type="date" value={{news_end_date|date:"Y-m-d"}}>
                  {% now "Y-m-d" as today %}
                  <p class="help-block">最新的新闻截止于：{{ today }}</p>
              </div>

      </div>
      <div class="modal-footer">

        <a class="btn btn-primary" id="reset-search-form">重置<a>
        <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>

      </div>
    </div>
  </div>
</div>

	<small>
		<p class="help-block">

        {% load recommand %}
        {% hotwords %}
        
		
	    </p>
   </small>
   </form>

   
   <script>
   $("#reset-search-form").click(function(){
      $("#id_start_time").val("");
      $("#id_end_time").val("");
    });
   </script>
