
<!--**************************************脚注开始*******************************-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">                  
                    <hr>
                </div>
                <div class = "col-md-12 col-sm-12 col-xs-12">
                 
                    <center>                      
                     <a href="" id="share">
                      <span class="glyphicon glyphicon-share"></span>分享到
                     </a>&nbsp;&nbsp;
                     <a href="{% url 'news:suggestion' %}">
                      <span class="glyphicon glyphicon-envelope"></span>意见建议
                     </a>&nbsp;&nbsp;
                     <a href="{% url 'news:aboutus' %}">
                      <span class="glyphicon glyphicon-tags"></span>关于我
                     </a>&nbsp;&nbsp;
                     <br>
                     {% now "Y" as current_year %}
                     Copyrights &copy;2014-{{ current_year }} getqiu.com All Rights Reserved
                     <br>
                     京ICP备:15022882号{{ user.username }}
                     <br><br>
                    </center>
               
                </div>
            </div>
        </div>
<!--**************************************脚注结束*******************************-->
