
<!--*********************************************我的微信2微码**********************-->
<div class="container">
  <div class = 'row'>


    <div class="col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
    <div class='col-md-1 col-sm-2 col-xs-4'>
        <font class="header-qrcode" style="cursor:pointer;">微信: <span class="glyphicon glyphicon-qrcode"></span>&nbsp;</font>
        <script type="text/javascript">
               $(".header-qrcode").popover({
                                   placement:'bottom',
                                   title:"二维码",
                                   html:true,
                                   trigger:"click",
                                   {%load staticfiles%}
                                   content:"<img src='{% static 'news/image/qrcode.jpg' %}' width='186'>",
                                 });
		 </script>
    </div>

    <div class = "col-md-2  col-sm-2  col-xs-4 ">

    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
  </div>
</div>
<!--************************************END*****我的微信2微码**********************-->
