
<!--*********************************************我的微信2微码**********************-->
<div class="container">
  <div class = 'row'>


    <div class="col-md-12">&nbsp;</div>
    <div class='col-md-2'>
        <font class="header-qrcode" style="cursor:pointer;">微信号: <span class="glyphicon glyphicon-qrcode"></span>&nbsp;</font>
        <script type="text/javascript">
               $(".header-qrcode").popover({
                                   placement:'bottom',
                                   title:"二维码",
                                   html:true,
                                   trigger:"click",
                                   {%load staticfiles%}
                                   content:"<img src='{% static 'news/image/qrcode.jpg' %}' width='186'>",
                                 });
		 </script>
    </div>

    <div class = "col-md-4 col-md-offset-4">
      <!--
       <p>我们从不产生新闻，我们只是新闻的搬运工</p>
       -->
    </div>
    <div class="col-md-12">&nbsp;</div>
  </div>
</div>
<!--************************************END*****我的微信2微码**********************-->
