
<!--
导航条需要可以被灵活配置的地方
  1.那个选线被active
  2.购物车中的数目
  3.登录处根据状态显示合适的页面

************************导航条开始*****************************-->
<nav id = 'nav_header' class="navbar navbar-default" role="navigation">
  <div class="container">
<script type='text/javascript'>
   var nav_type = 1;
   //这段代码控制是否nav-bar-fixed-top body的显示margin问题
   switch (nav_type){
        case 0:
            $('body').addClass('body-extra-margin');
            $("#nav_header").addClass('navbar-fixed-top');
            break;
        case 1:
            break;
        default:
            break;
   }
</script>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">getqiu</span>
      <span class="icon-bar">
   <!--       <span class="glyphicon glyphicon-th-list"></span>   -->
      </span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'news:home_page'%}">首页</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-wrench"></span>
          设置
        <b class="caret"></b></a>
        <ul class="dropdown-menu">
         <!--
          <li><a href="{% url 'news:add_crawler_task'%}">添加爬虫任务</a></li>
          <li><a href="{% url 'admin:index' %}">站点管理</a></li>
          -->
          
          <li><a href="{% url 'news:suggestion' %}">要不去提个建议?</a></li>
        </ul>
      </li>

      <li >
        <a href="{% url 'news:news_today' %}">
          <span class="glyphicon glyphicon-info-sign"></span>
          <font id="focuson">今日头条</font>
          <span class="badge" style="background-color:red;">1</span>          
        </a>
      </li>


      <li id="trend-search" class="hide">
        <form class="navbar-form" role="search" action="{%url 'news:word_trend' %}">
          <div class="form-group">
            <input type="text" id="trend" class="form-control" name="q" placeholder="输入关键词">
          </div>
          <button type="submit" class="btn btn-default">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
        </form>
      </li>



      
      <li id="trend-hit">
        <a >
          <span class="glyphicon glyphicon-signal"></span>话题活跃趋势
        </a >
      </li>
      

    </ul>
    <script>
      var popover = new MessagePopover();
      $("#focuson").mouseover(function(){
         popover.show("#focuson","点击查看");
      });
      $("#focuson").mouseleave(function(){
        popover.hide("#focuson");
      });


      $("#trend-hit").click(function(){
        $(this).addClass("hide");
        $("#trend-search").removeClass("hide");
      });
    </script>

    <ul class="nav navbar-nav navbar-right">
    
      <li>

      </li>
    </ul>

  </div><!-- /.navbar-collapse -->
  </div>
</nav>
<!--*************************导航条结束******************************-->
 
