<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0 user-scalable=no">        
    	{% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}">
        <link href="{% static 'news/css/bootstrap.css' %}" rel="stylesheet" type="text/css"> 
        <!--
        <link href="{% static 'css/non-responsive.css' %}" rel="stylesheet" type="text/css"> 
        -->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script type='text/javascript' src='{% static "js/holder.js" %}'></script>
        <script type='text/javascript' src='{% static "js/jquery.form-verify.js" %}'></script>

        {% block head_block %}
           <title>getqiu新闻检索系统</title> 
           <meta name="keywords" content="getqiu,163，新闻检索，">
           <meta name="description" content="getqiu news新闻检索系统是基于django、scrapy实现的新闻采集和检索系统，系统能够快速的检索50万条新闻标题，并且系统已每天1000多条的速度添加新闻">
        {% endblock %}
        <style type='text/css'>
            .body-extra-margin{margin-top:49px;}
        </style>
        <script>
            String.prototype.format = function(args) {
                var result = this;
                if (arguments.length > 0) {    
                    if (arguments.length == 1 && typeof (args) == "object") {
                        for (var key in args) {
                            if(args[key]!=undefined){
                                var reg = new RegExp("({" + key + "})", "g");
                                result = result.replace(reg, args[key]);
                            }
                        }
                    }
                    else {
                        for (var i = 0; i < arguments.length; i++) {
                            if (arguments[i] != undefined) {
                                //var reg = new RegExp("({[" + i + "]})", "g");//这个在索引大于9时会有问题，谢谢何以笙箫的指出
            　　　　　　　　　　　　var reg= new RegExp("({)" + i + "(})", "g");
                                result = result.replace(reg, arguments[i]);
                            }
                        }
                    }
                }
                return result;
            }        
        </script>
    </head>

    <body>
        {%block header%}

            {% include 'news_base/header_top_info.html'%}
            
            {% include 'news_base/search_bar.html' %}
        {%endblock%}

        {% block navgation_bar %}
        <!--导航条-->
            {# load navbar_user_status_info #}
            {# navbar_user_status_info request #}
            {% include 'news_base/navbar.html' %}
        <!--end导航条-->
        
        {% endblock %}

        {% block main_body %}
           <!--other subclass to implement this block -->
           {% include 'news_base/default_main_body.html' %}
        {% endblock %}

        {%block footer%}
            {%include 'news_base/footer.html'%}
        {%endblock%}
 
    </body>
</html>
