{% extends 'news_base/skeleton.html' %}
{% block head_block %}
	<title>App Manager</title> 
	<meta name="keywords" content="getqiu,关于我们">
	<meta name="description" content="getqiu新闻检索系统关于我们">
    <style>
        .white-text{color:#FFF!important}
        .toolbar-text{color:#FFF;font-size: 12px;}
        .toolbar-text:hover{color:#FFF;text-decoration:underline;}
        .draw-plain{width:100%;height:65%;}
        .system-panel{width:100%;height:30%;}
    </style>
    
    {% load staticfiles %}

    <link href="{% static 'news/css/daterangepicker.css' %}" rel="stylesheet" type="text/css"> 
    <script type="text/javascript" src="{% static 'news/js/moment.min.js' %}"></script>  
    <script type="text/javascript" src="{% static 'news/js/daterangepicker.js' %}"></script> 
    <script src="{% static 'news/js/echarts.min.js' %}"></script>
    <script>
        Date.prototype.format = function(fmt)   
        { //author: meizz   
        var o = {   
            "M+" : this.getMonth()+1,                 //月份   
            "d+" : this.getDate(),                    //日   
            "h+" : this.getHours(),                   //小时   
            "m+" : this.getMinutes(),                 //分   
            "s+" : this.getSeconds(),                 //秒   
            "q+" : Math.floor((this.getMonth()+3)/3), //季度   
            "S"  : this.getMilliseconds()             //毫秒   
        };   
        if(/(y+)/.test(fmt))   
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));   
        for(var k in o)   
            if(new RegExp("("+ k +")").test(fmt))   
        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
        return fmt;   
        };


    </script>
{% endblock %}



{% block main_body %}



<div class="container">
    <div class="row">


        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">


            <div class="form-group  has-feedback">
                <input type="text" class="form-control" id="daterange" 
                       style="cursor:pointer;background-color:#fff;" readonly>
                <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
            </div>

        </div>

       <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 hide" id="message">
           
        </div>          

    </div>
  
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-6">
                <div id="system-cpu-container" class="system-panel"></div>
            </div>  
            <div class="col-md-12 col-sm-12 col-xs-6">
                <div id="system-mem-container" class="system-panel"></div>
            </div>              
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="chart-container" class="draw-plain"></div>
        </div>         
    </div>
</div>

<script>
(function(){
    /**
    * 自适应调整高度
    * 但是好像再ipad上并不是像我想的那样工作.
    */
    var width = $(window).width();
    var height = $(window).height();
    var ratio = width / height;

    var width_percent = 0;
    var height_percent = 0;

    var toPercentStr = function(number){
        return Math.floor(number*100)+"%";
    }

    if(width >= height)
    {
        //宽屏模式:比如电脑
        //$("#system-cpu-container").css("width":"100%").css("height":"");
        
        width_percent = 1;
        height_percent = 1 / ratio;

    }
    else{
        //竖屏模式,比如手机
        width_percent = 1;
        height_percent = 1 * ratio;
    }

})();
var paint = (function(){
    var today = new Date();
    var starttime = new Date(today.getTime()-1000*60*60*24*30*2);//最近2个月
    var endtime = new Date();

    var chart = echarts.init(document.getElementById("chart-container"));
    var systemCPUChart = echarts.init(document.getElementById("system-cpu-container"));
    var systemMEMChart = echarts.init(document.getElementById("system-mem-container"));

    /**
    *   暂时没用
    */
    var str2date = function(strdate)   
    {   
        var digitDate = strdate.split("-");
        return new Date(digitDate[0],digitDate[1]-1,digitDate[2]);
    };

    var visualizeSystemStatus = function(){
        var timeticker;
        var showSystemStatus = function(){
            $.get("{%url 'news:system_status' 'systeminfo'%}").done(function(data){
                /**
                * CPU状态
                */
                systemCPUChart.setOption({
                    title:{
                        top:"75%",
                        left:"center",
                        text:"CPU占用"
                    },
                    tooltip:{
                        confine:"true",
                    },
                    series:[{
                        type:'gauge',
                        name:"cpu",
                        data:data.cpu.used,
                        splitNumber:10,
                    }]
                });

                /**
                * 内存占用状态
                **/
                systemMEMChart.setOption({
                    title:{
                        top:"75%",
                        left:"center",
                        text:"内存占用"
                    },
                    tooltip:{
                        confine:"true",
                    },
                    series:[{
                        type:'gauge',
                        name:"cpu",
                        data:data.mem.percent,
                    }]
                });

            });
        };

        //showSystemStatus();
        timeticker = setInterval(showSystemStatus,1500);
    }

    /**
    *画图函数，必须传入3个参数，关键字，开始时间，截止时间
    */
    var draw = function(start,end){

        $.get("{%url 'news:news_api' 'countEveryDay' %}?start="+start+"&end="+end).done(function(data){
            var time  = Array();
            var count = Array();

            $.each(data,function(n,value){
                time.push(value.time);
                count.push(value.count);
            });
            chart.setOption({
                title:{
                    left:"center",
                    text:"新闻搜集数量"
                },
                tooltip:{
                    confine:"true",
                },
                legend:{
                    data:["采集数量"],
                    top:"20%",
                    left:"15%",                    
                    orient:"vertical",                 
                },
                xAxis:{
                    data:time,
                    //type:"time"
                },
                yAxis:{},
                series:[{
                    name:"采集数量",
                    type:"bar",
                    data:count
                }]
            });
        });//for get
    };

    /**
    *将时间转化为字符串
    */
    var convertDate2str = function(date){
        if(date instanceof Date)
        {
            return date.format('yyyy-MM-dd');
        }
        else{
            return date;
        }
    };

    /**
    * is True 判断
    */
    var isTrue = function(exp){
        if(typeof(exp)!="undefined" && exp!=0 && exp != ""){
            return true;
        }
        return false;
    };

    /**
    * 初始化时间范围选择控件
    */
    $("#daterange").daterangepicker({
        startDate:starttime,
        endDate:endtime,
        maxDate : moment(),
        opens : 'right',
        dateLimit:{
            months:12,
        },
        ranges:{
            "最近1个月":[moment().subtract(1,"months"), moment()],
            "最近3个月":[moment().subtract(3,"months"), moment()],
            "最近6个月":[moment().subtract(6,"months"), moment()],
            "最近12个月":[moment().subtract(12,"months"), moment()],
        },
        locale:{
            applyLabel :"确定",
            cancelLabel:"取消",
            fromLabel:"开始时间",
            toLabel:"结束时间",
            customRangeLabel:"自定义",
            format: 'YYYY/MM/DD',
            daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
            monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],

        }
    },function(start,end,label){
    
        var s = start.format('YYYY-MM-DD');
        var e =   end.format('YYYY-MM-DD');

        /**
         * 跟新起止时间,让其它事件也能共享这个插件更改的变量
         * 
        */
        starttime = new Date(start.valueOf());
        endtime = new Date(end.valueOf());
        draw(s,e);     
    });



    var drawOnInit = function()
    {
        var start = convertDate2str(starttime);
        var end = convertDate2str(endtime);
        draw(start,end);
        visualizeSystemStatus();
        
    };


    /**
    * 页面刚刚加载完成执行第一次
    */ 
    (function(){
        drawOnInit();
    })();

    return {
        draw:drawOnInit
    }

})();




</script> 
{% endblock %}