{% extends 'news_base/skeleton.html' %}
{% block head_block %}
	<title>{{one_news.title}}</title> 
	<meta name="keywords" content="getqiu,新闻检索系统，{{one_news.title}}">
	<meta name="description" content="{{one_news.title}}新闻详细内容">
{% endblock %}



{%block main_body%}
	{% load style %}
	 <div class="container">
		 <div class='row'>
			 <div class='col-md-10 col-md-offset-1'>
				<div class='panel panel-default'>
						<div class='panel-heading'><h3>{{one_news.title}}</h3></div>
						<div class='panel-body'>
							<ul class='media-list'>
								<li class="media">
									<a class="pull-right" href="{{one_news.news_url}}" target='_blank'>
									  原文链接
								    </a>
									<div class="media-body">
										<h4 class="media-heading">新闻位置：{{one_news.rank|adjustrank}}</h4>
										<h5>{{one_news.news_time}}</h5>
										<h5>来自：{{one_news.publisher}}</h5>
									</div>

                                </li>
								<li class='meida'>
									<div style="height:15px;">
										<!-- JiaThis Button BEGIN -->
										<div class="jiathis_style_24x24">
											<a class="jiathis_button_qzone"></a>
											<a class="jiathis_button_tsina"></a>
											<a class="jiathis_button_tqq"></a>
											<a class="jiathis_button_weixin"></a>
											<a class="jiathis_button_evernote"></a>
										</div>
										<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
										<!-- JiaThis Button END -->
									</div>
									<hr>
								</li>
							
							</ul>
							{{one_news.content|safe}}
						</div>
					<div class='panel-footer'>
						{{one_news.news_url|urldomain}}
					</div>						
				</div>
                <script>
                    $(".panel-body img").removeAttr('style').attr('class','img-responsive');
                </script>

	      </div>
	 </div>
 </div>

{%endblock%}
