{% extends 'news_base/skeleton.html' %}
{% block head_block %}
	<title>话题活跃度趋势图</title> 
	<meta name="keywords" content="getqiu,关于我们">
	<meta name="description" content="getqiu新闻检索系统关于我们">
    <style>
        .white-text{color:#FFF!important}
        .toolbar-text{color:#FFF;font-size: 12px;}
        .toolbar-text:hover{color:#FFF;text-decoration:underline;}
    </style>
    
    {% load staticfiles %}

    <link href="{% static 'news/css/daterangepicker.css' %}" rel="stylesheet" type="text/css"> 
    <script type="text/javascript" src="{% static 'news/js/moment.min.js' %}"></script>  
    <script type="text/javascript" src="{% static 'news/js/daterangepicker.js' %}"></script> 
    <!--   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.3.2/echarts.min.js"></script>
    -->
    <script src="{% static 'news/js/echarts.min.js' %}"></script>
    <script>
        Date.prototype.format = function(fmt)   
        { //author: meizz   
        var o = {   
            "M+" : this.getMonth()+1,                 //月份   
            "d+" : this.getDate(),                    //日   
            "h+" : this.getHours(),                   //小时   
            "m+" : this.getMinutes(),                 //分   
            "s+" : this.getSeconds(),                 //秒   
            "q+" : Math.floor((this.getMonth()+3)/3), //季度   
            "S"  : this.getMilliseconds()             //毫秒   
        };   
        if(/(y+)/.test(fmt))   
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));   
        for(var k in o)   
            if(new RegExp("("+ k +")").test(fmt))   
        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));   
        return fmt;   
        };


    </script>
{% endblock %}


{%block header%}
    {% include 'news_base/header_top_info.html'%}

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-1">

                    <form onsubmit="return false;" method="POST">
                        <div class="input-group input-group-lg has-success has-feedback">

                            <input type="text" id="keyword" class="form-control" name="q" placeholder="相关话题" value="{{q}}">
                            <span class="glyphicon glyphicon-paperclip form-control-feedback" 
                                    style="right:69px;pointer-events:auto;cursor:pointer;top:6px;"
                                    id="search-option"
                                    data-toggle="modal" 
                                    data-target="#search-option-modal">
                            </span>                            
                        <span class="input-group-btn">

                            <button class="btn btn-success btn-lg" type="button" id="redraw">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>

                        </span>

                        </div><!-- /input-group -->
                        
                    </form>
                
                   </div>
              </div>
<!-- -->
<!-- Modal -->
<div class="modal fade" id="search-option-modal" tabindex="-1" role="dialog" aria-labelledby="search-option-title">
  s
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="search-option-title">搜索参数</h4>
      </div>
      <div class="modal-body">
            正在考虑添加更多搜索条件过滤功能
      </div>
      <div class="modal-footer">

        <a class="btn btn-primary" id="reset-search-form">重置<a>
        <button type="button" class="btn btn-default" data-dismiss="modal">确认</button>

      </div>
    </div>
  </div>
</div>
<!-- -->
                <div class="row">
                   <div class="col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-1">
                        {% load recommand %}
                        {% recommend_words as hotwords %}
                        <small>
                        <ul class="list-inline">
                            {% for hot_word in hotwords %}
                                <li><a href="{% url 'news:word_trend' %}?q={{hot_word}}">{{hot_word}}</a></li>
                            {%endfor%}
                        </ul>                     
                        </small>
                    </div>
                </div>
        </div>

{%endblock%}


{% block main_body %}



<div class="container">
    <div class="row">


        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">


            <div class="form-group  has-feedback">
                <!--
                <label class="control-label" for="daterange">起止时间:</label>
                -->
                <input type="text" class="form-control" id="daterange" 
                       style="cursor:pointer;background-color:#fff;" readonly>
                <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
            </div>

        </div>

       <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3 hide" id="message">
           
        </div>

        <div class="col-md-12 col-sm-12">
            <div id="chart-container" style="width:100%;height:70%;"></div>
        </div>
    </div>
  
</div>

<script>

var paint = (function(){
    var today = new Date();
    var starttime = new Date(today.getTime()-1000*60*60*24*30*2);//最近2个月
    var endtime = new Date();
    var keyword = $("#keyword").val();
    var chart = echarts.init(document.getElementById("chart-container"));

    /**
    *   暂时没用
    */
    var str2date = function(strdate)   
    {   
        var digitDate = strdate.split("-");
        return new Date(digitDate[0],digitDate[1]-1,digitDate[2]);
    };

    var showNewsTitle = function(newsList,time){
        var htmlContent = ""+time+"<br/>";
        $.each(newsList,function(n,value){
            //因为这里news_detail需要参数，而参数又暂时不能确定。所以，只能用这种方式
            htmlContent = htmlContent+"<a href='{% url 'news:home_page' %}news-detail/"+value.hash_digest+"/'"+" class='toolbar-text'>"+value.title+"</a><br/>";
        });
        $("#message").html(htmlContent);
        return htmlContent;
    };

    /**
    *画图函数，必须传入3个参数，关键字，开始时间，截止时间
    */
    var draw = function(q,start,end){

        $.get(encodeURI("{%url 'news:word_trend_api'%}?q="+q+"&start="+start+"&end="+end)).done(function(data){
            var time  = Array();
            var count = Array();
            var score = Array();
            var weight= Array();

            var continueZeros = 0;
            var currentNoZero = 0;
            var preNoZero = 0;
            var step = 0;
            $.each(data,function(n,value){
                time.push(value.time);
                count.push(value.count);
                score.push(value.score);
                if(n==0){
                    weight.push(10*value.weight);
                    preNoZero = 10*value.weight;
                }
                else if(value.weight == 0){
                    continueZeros = continueZeros + 1;
                }else{
                    currentNoZero = 10*value.weight;
                    if(continueZeros == 0){
                        preNoZero = 10*value.weight;
                        weight.push(10*value.weight);
                    }else{
                        step = (currentNoZero - preNoZero)/(continueZeros+1);
                        for(i=0;i<=continueZeros;i++){//直接等于,把最后一个算进去
                            weight.push(preNoZero+(i+1)*step);
                        }
                        preNoZero = currentNoZero;
                    }
                    continueZeros = 0;
                }
                //最后一个如果是0,就被落下了.
                
            });
            chart.setOption({
                title:{
                    left:"center",
                    text:"话题活跃度趋势图"
                },
                tooltip:{
                    formatter: function (params, ticket, callback) {
                        var k = $("#keyword").val();
                        $.get(encodeURI('{% url "news:news_api" "spotForOneDay" %}?q='+k+"&t="+params.name), function (content) {
                            callback(ticket, showNewsTitle(content,params.name));
                            // console.log(ticket);
                            // console.log(content);
                        });
                        //console.log(params);
                        return '拼命加载中...';
                    },
                    padding: [
                        2,  // 上
                        4, // 右
                        2,  // 下
                        4, // 左
                    ],
                    //position: ['10%', '10%'],
                    showDelay:200,
                    //triggerOn:"click",
                    enterable:"true",
                    confine:"true",
                },
                legend:{
                   left:"15%",
                   top:"20%",
                   orient:"vertical",
                   data:["绝对活跃度","加权活跃度","活跃度质量"],
                   selected: {
                    "绝对活跃度": true,
                    "加权活跃度": true,
                    "活跃度质量": false,
                    }
                },
                xAxis:{
                    data:time,
                    //type:"time"
                },
                yAxis:{},
                series:[{
                    name:"加权活跃度",
                    type:"line",
                    smooth: true,
                    data:score,
                    itemStyle : {
                        normal:{
                            color:'purple'
                        }
                    }
                },{
                    name:"绝对活跃度",
                    type:"bar",
                    smooth: true,
                    data:count,
                    itemStyle : {
                        normal:{
                            color:'#d43f3a'
                        }
                    }                    
                },{
                    name:"活跃度质量",
                    type:"line",
                    smooth: true,
                    data:weight,
                    itemStyle : {
                        normal:{
                            color: '#46b8da'
                        }
                    }                    
                }]
            });
        });//for get
    };

    /**
    *将时间转化为字符串
    */
    var convertDate2str = function(date){
        if(date instanceof Date)
        {
            return date.format('yyyy-MM-dd');
        }
        else{
            return date;
        }
    };

    /**
    * is True 判断
    */
    var isTrue = function(exp){
        if(typeof(exp)!="undefined" && exp!=0 && exp != ""){
            return true;
        }
        return false;
    };

    /**
    * 初始化时间范围选择控件
    */
    $("#daterange").daterangepicker({
        startDate:starttime,
        endDate:endtime,
        maxDate : moment(),
        opens : 'right',
        dateLimit:{
            months:12,
        },
        ranges:{
            "最近1个月":[moment().subtract(1,"months"), moment()],
            "最近3个月":[moment().subtract(3,"months"), moment()],
            "最近6个月":[moment().subtract(6,"months"), moment()],
            "最近12个月":[moment().subtract(12,"months"), moment()],
        },
        locale:{
            applyLabel :"确定",
            cancelLabel:"取消",
            fromLabel:"开始时间",
            toLabel:"结束时间",
            customRangeLabel:"自定义",
            format: 'YYYY/MM/DD',
            daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
            monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],

        }
    },function(start,end,label){
        var k = $("#keyword").val();        
        var s = start.format('YYYY-MM-DD');
        var e =   end.format('YYYY-MM-DD');

        /**
         * 跟新起止时间,让其它事件也能共享这个插件更改的变量
         * 
        */
        starttime = new Date(start.valueOf());
        endtime = new Date(end.valueOf());
        if(isTrue(k)){
            draw(k,s,e);
        }        
    });



    var drawOnInit = function()
    {
        var k = $("#keyword").val();
        var start = convertDate2str(starttime);
        var end = convertDate2str(endtime);
        if(isTrue(k))
        {
            draw(k,start,end);
        }
        
    };

    /*
    * 绑定点击事件
    */
    $("#redraw").click(function(){
        drawOnInit();
    });

    $("#keyword").keydown(function(event){ 
        if(event.keyCode==13){
            drawOnInit();
        } 
    });
    /**
    * 页面刚刚加载完成执行第一次
    */ 
    (function(){
        drawOnInit();
    })();

    return {
        draw:drawOnInit
    }

})();




</script>  
{% endblock %}
